<div class="post card border-dark position-absolute top-50 start-50 translate-middle col-2 mt-2">
    <div class="card-header bg-primary text-white text-center">
        <h3>Create New Post</h3>
    </div>
    <form id="new-post-form" class="card-body bg-light">
        <div class="mb-3">
            <label class="form-label" for="post-title">Title:</label>
            <br />
            <input type="text" name="post-title" class="form-input bg-info" />
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="post-body">Content:</label>
            <br />
            <textarea name="post-body" class="form-input bg-info"></textarea>
        </div>
        

        <button type="submit" class="btn-primary position-relative bottom-0 start-50 translate-middle">Create</button>
    </form>
</div>

<script src="/js/new.js"></script>
